
    <header></header>

    <main>
        
        <div  id="grandediv">
            <div id="card_header">
                <h3>Cadastro de ferramentas</h3>
            </div>
            <table border="1" cellspacing="0">
                <tr>
                    <td id="coluna_produto">Produto</td>
                    <td id="coluna_pequeno">Base - Pequeno porte</td>
                    <td id="coluna_medio">Base - Médio porte</td>
                    <td id="coluna_grande">Base - Grande porte</td>
                    <td id="coluna_adicionar"><button id="adicionar" routerLink="/passo2">+</button></td>
                    
                </tr>
                <tr>
                    <td><input type="text" placeholder="Filtrar" class="filtros" name="filtro_produto" id="filtro_produto"></td>
                    <td><input type="text" placeholder="Filtrar"  class="filtros" name="filtro_pequenoporte" id="filtro_pequenoporte"></td>
                    <td><input type="text" placeholder="Filtrar"  class="filtros" name="filtro_medioporte" id="filtro_medioporte"></td>
                    <td><input type="text" placeholder="Filtrar"  class="filtros" name="filtro_grandeporte" id="filtro_grandeporte"></td>
                    <td><input type="text" placeholder="Filtrar"  class="filtros" name="filtro_adicionar" id="filtro_adicionar"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>

            <input  id="botao_alertas" value="Salvar" type="button" routerLink="/passo3">
           
            
        </div>
    </main>

