
    <header></header>

    <main>
        
        <div  id="grandediv">
            <div id="card_header">
                <h3>Criação de Orçamento</h3>
            </div>
            <table border="1" cellspacing="0">
                <tr>
                    <td id="coluna_nomecli">Nome do cliente</td>
                    <td id="coluna_cnpj">CNPJ</td>
                    <td id="coluna_porte">Porte</td>
                    <td id="coluna_qtd">QTD de Funcionarios</td>
                    <td id="coluna_tel">Telefone (Com)</td>
                    <td id="coluna_adicionar"></td>
                    
                </tr>
                <tr>
                    <td><input type="text" placeholder="Filtrar" name="filtro_nomecli" id="filtro_nomecli"></td>
                    <td><input type="number" placeholder="Filtrar" name="filtro_cnpj" id="filtro_cnpj"></td>
                    <td><input type="text" placeholder="Filtrar" name="filtro_porte" id="filtro_porte"></td>
                    <td><input type="number" placeholder="Filtrar" name="filtro_qtd" id="filtro_qtd"></td>
                    <td><input type="text" placeholder="Filtrar" name="filtro_tel"  id="filtro_tel"></td>
                    <td><button id="adicionar" routerLink="/">+</button></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                
            </table>

            
           
            
        </div>
    </main>

