
    <header></header>

    <main>
        
        <div  id="grandediv">

            <div id="card_header">
                <h3>Criação de Orçamento</h3>
            </div>

        

        <form action="" id="nome">
            <legend >Nome do Cliente (Contato)</legend>
            <div id="input_nome"></div>
        </form>

        <form action="" id="porte">
            <legend >Porte Empresa</legend>
            <div id="input_porte"></div>
        </form>

        <form action="" id="email">
            <legend >E-mail</legend>
            <div id="input_email"></div>
        </form>

        <form action="" id="qtdusuarios">
            <legend >QTD. Usuários</legend>
            <div id="input_qtdusuarios"></div>
        </form>

          
        <table border="1" cellspacing="0" >
                <tr>
                    <td id="coluna_ferramenta">Ferramenta(s)</td>
                    <td id="coluna_semimposto">Valores sem Impostos</td>
                    <td id="coluna_comimposto">Valor com Imposto</td>
                    <td id="coluna_valorparceiro">Valor p/parceiro</td>
                    
                    
                    
                </tr>
               
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    
                    
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                   
                   
                </tr>
                
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                   
                    
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                   
                    
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    
                </tr>

                
            </table>
            <table id="total">
            <tr >
                <td colspan="2">Valor total: </td>
             </tr>
            </table>
             
        

            <input  id="botao_alertas" value="Enviar" type="button" routerLink="/passo4">
            <input  id="botao_alertas2" value="Anterior" type="button" routerLink="/passo21">
           
            
        </div>
    </main>

