@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html{
    position: relative;
width: 1366px;
height: 768px;

background: #EBEFF6;
}

body{
    position: absolute;
width: 1366px;
height: 770px;
left: 0px;
top: -2px;
font-family: 'Open sans';
}
#grandediv{
    
    position: absolute;
width: 1256px;
height: 667px;
left: 85px;
top: 89px;

background: #FFFFFF;
border: 1px solid #E4E9F2;
box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
border-radius: 0px 0px 10px 10px;
}


#card_header{
    position: absolute;
    width: 1256px;
    height: 39px;
    
    
    background: #FFFFFF;
    
    border-radius: 5px 5px 0px 0px;

}
h3{
    margin-top: 8px;
    font-family: Open Sans;
font-style: normal;
font-weight: 600;
margin-left: 60px;


color: #000000;
}


table{
   
    position: absolute;
width: 1130px;
height: 280px;
left: 47px;
top: 210px;
text-align: center;
font-size: 12px;
font-weight: bold;
overflow-y: auto;

}
#coluna_ferramenta{
    width: 488px;
}
#coluna_semimposto{
    width: 174.73px;
    padding-right: 18.55px;
    padding-left: 18.55px;
}
#coluna_comimposto{
    width: 174.73px;
    padding-right: 18.55px;
    padding-left: 18.55px;
    
}
#coluna_valorparceiro{
    width: 174.73px;
    padding-right: 18.55px;
    padding-left: 18.55px;
    height: 48.12px;
}


#nome{
    position: absolute;
width: 192px;
height: 25px;
left: 56px;
top: 130px;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
display: block;
align-items: center;

color: #000000;
}
#input_nome{
    width: 192px;
    height: 18px;
    border: solid black 1px;
    border-radius: 3px;

}



#porte{
    position: absolute;
    width: 192px;
    height: 25px;
    left: 294px;
    top: 130px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    display: block;
    align-items: center;
    
    color: #000000;

}
#input_porte{
    width: 192px;
    height: 18px;
    border: solid black 1px;
    border-radius: 3px;

}
#email{
    position: absolute;
    width: 192px;
    height: 25px;
left: 534px;
top: 130px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;

display: block;
align-items: center;

color: #000000;
}
#input_email{
    width: 192px;
    height: 18px;
    border: solid black 1px;
    border-radius: 3px;
}
#qtdusuarios{
    position: absolute;
    width: 192px;
    height: 25px;
left: 774px;
top: 130px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;

display: block;
align-items: center;

color: #000000;
}
#input_qtdusuarios{
    width: 192px;
    height: 18px;
    border: solid black 1px;
    border-radius: 3px;
}


.v_r_t{
    background: #FFFFFF;
border: 1px solid #CED4DA;
box-sizing: border-box;
border-radius: 5px;
width: 128.3px;
height: 24.06px;
}
#botao_alertas{
    position: absolute;
width: 102.98px;
height: 27.26px;
left: 1140px;
top: 619px;
outline: 0;
border: 0.1;
border-color: #145999;
background: #145999;
border-radius: 5px;
font-weight: 600;
color: #FFFFFF;
font-family: 'Open sans';
}
#botao_alertas2{
    position: absolute;
width: 102.98px;
height: 27.26px;
left: 1017px;
top: 619px;
outline: 0;
border: 0.1;
border-color: #99143F;
background: #99143F;
border-radius: 5px;
font-weight: 600;
color: #FFFFFF;
font-family: 'Open sans';
}
#total{
    position: absolute;
    width: 428.42px;
    height: 48.12px;
    left: 750px;
    top: 490px;
    border: solid 1px;
    text-indent:-200px ;
    
}