

    <header></header>

    <main>
        
        <form action="" id="formulario">
            <div id="card_header">
                <h3>Criação de orçamento</h3>
            </div>
            <legend class="legends" id="legend1">Nome do cliente</legend>
            <input type="text" name=""  id="input1" >
            <legend class="legends" id="legend2"> Nome Fantasia</legend>
            <input type="text" name=""  id="input2" >
            <legend class="legends" id="legend3"> CNPJ</legend>
            <input type="text" name=""  id="input3" >
            <legend class="legends" id="legend4"> Bairro</legend>
            <input type="text" name=""  id="input4" >
            <legend  id="legend5">Porte empresa</legend>
            <select name="opcoes"  id="input5" >
                <option value="Pequeno Porte">Pequeno Porte</option>
                <option value="Medio Porte">Medio Porte</option>
                <option value="Grande Porte">Grande Porte</option>
            </select>
            <legend  id="legend6">E-Mail (Contato)</legend>
            <input type="email"  id="input6" >
            <legend  id="legend7">E-Mail</legend>
            <input type="email" required id="input7" >
            <legend  id="legend8">CEP</legend>
            <input type="text"  id="input8" >
            <legend  id="legend9">Cidade</legend>
            <input type="text"  id="input9" >
            <legend  id="legend10">Quantidade de Funcionários</legend>
            <input type="number"  id="input10" >
            <legend  id="legend11">Telefone / Ramal (Contato)</legend>
            <input type="tel" required id="input11" >
            <legend  id="legend12">Telefone (Comercial)</legend>
            <input type="tel"  id="input12" >
            <legend  id="legend13">Endereço</legend>
            <input type="text"  id="input13" >
            <legend  id="legend14">Estado</legend>
            <input type="text"  id="input14" >

            <input  id="botao_alertas" value="Próximo" type="button" routerLink="/passo2">
           
            
        </form>
    </main>
    



